.todoItem {
  display: flex;
  align-items: center;
  width: 80%;
  background-color: white;
  margin: 6px 4px;
  height: 40px;
  border-radius: 12px;

}

.todoItem>p {
  flex: 1;

}

.todoItem--done {
  text-decoration: line-through;
}